body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

#message {
    z-index: 10;
}

